<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= @tweet.content %>
      </div>
    </div>
    <br />
    <div class="panel panel-default">
      <div class="panel-body">
        <%= image_tag(@image_url) %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <%= link_to 'edit', edit_tweet_path(@tweet), class: 'btn btn-info btn-lg btn-block' %>
    <%= link_to 'delete', tweet_path(@tweet), class: 'btn btn-danger btn-lg btn-block', method: :delete, data: { confirm: '本当に削除しますか？' } %>
    <a href="https://twitter.com/share" class="twitter-share-button" data-text="<%= @image_url %>" data-size="large">Tweet</a> 
  </div>
</div>
